/*styles go here*/

p {
	color: #1c6b66;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
}

#container{
    width: 85%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#4d682a;
	font-weight:bold;
	display:block;
	text-decoration: none;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	padding: 4px;
}

#nav a:hover, #nav a:active {
	background-color:#7a991a;
}

.caption {
	color:black;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align: left;
}

img {
	border: none;
}
