/*styles go here*/

p {
	color: #587b9c;
		font-family: "IM Fell English SC", serif;
		text-align: left;
		font-size:1em;
}

h1 {
  color:#f8ecc2;
    font-family: "IM Fell English SC", serif;
		text-align: left;

}

h2 {
	color:#9ba5c7;
    font-family: "Allerta Stencil", serif;
		text-align: left;
		font-size:1em;
}

nav {
	color: #2e3b64;
		font-family: "IM Fell English SC", serif;
		font-size:1em;
}


nav ul {
  display: flex;
  flex-flow: column;
}

.authorbox img {
  display: none;
	width:150%;

}

.pullquote {
  display: none;
}


/*
#nav {
    padding: 0;
	  list-style-type: none;
}

#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#2e3b64;
	font-weight:bold;
	display:block;
	text-decoration: none;
	text-align: center;
	font-family: "Allerta Stencil", sans-serif;
	padding: 10px;
}

#nav a:hover, #nav a:active {
	background-color:#9ba5c7;
}

.navigation{
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}

.navigation a {
	text-decoration: none;
	display: block;
	color: white;
    text-align:center;
    padding: 10px;
    border-bottom:1px solid black;
}

.navigation li:last-of-type a{
  border-bottom: none;
}
*/

article {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
}

article:last-of-type {
  border-bottom: none;
}

.caption {
	color:#32837e;
	font-family: "Josefin Slab", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align: left;
}

img {
	width: 100%;
}


header, article {
  flex: 1 100%;
  padding: 10px;
}

/*These styles activate when the page is larger than 800px wide*/
/*
@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: black;
    }


    article {
		flex: 3 0px;
	}

    article {
        order: 2;
    }


    article {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }


    .image {
        width: 45%;
        margin-right: 10px;
    }

    .story {
        width: 45%;
    }

    .first {
        margin-top: 0;
    }
}
*/

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

    .authorbox img {
      display: block;
      width: 100%;
      margin-top: 0.5em;
    }

    .authorbox {
      width: 25%;
      max-width: 200px;
      float: left;
      margin-right: 20px;
    }
}

@media screen and (min-width: 800px) {
    .item1 {
      margin-right: auto;
    }

    nav ul li {
      margin: 5px;
    }

    .pullquote {
      display: block;
    }

}

@media screen and (min-width:1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
    grid-area: c;
  }

	.section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
    grid-area: e;
  }

  .section1 p:first-of-type, .section2 p:first-of-type {
    margin-top: 0;
  }

}

@media screen and (min-width:1200px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b e"
        "c c c ."
        ". d d .";
  }
}

body {
  background-color: #F8ECC2;
  font-family: Helvetica, Arial, sans-serif;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 10px 30px;

}

header {
    display: flex;
    flex-flow: row;
    background-color: #65a8a6;
    margin: 0;
    padding: 0 10px;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}
