/*styles go here*/

p {
	color: #2e3b64;
		font-family: "Josefin Slab", serif;
		text-align: center;
}

h1 {
  color:#9ba5c7;
    font-family: "IM Fell English SC", serif;
		text-align: center;
		font-size:4em;
}

#container{
    width: 85%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav a:link, #nav a:visited {
	color: #ffffff;
	background-color:#2e3b64;
	font-weight:bold;
	display:block;
	text-decoration: none;
	text-align: center;
	font-family: "Allerta Stencil", sans-serif;
	padding: 4px;
}

#nav a:hover, #nav a:active {
	background-color:#9ba5c7;
	font-size: 2em;
}

.caption {
	color:black;
	font-family: "Allerta Stencil", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align: left;
}

img {
	border: none;
}
